.hero {
  display: flex;
  align-items: center;
  margin-bottom: $spacing-unit;
  background-color: $brand-color-dark;
  background-image: url('../images/duraflex-bg-image.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
  background-attachment: fixed;
  overflow: hidden;
}

.sweepstakes {
  margin-left: $spacing-unit * 4;
  padding: $spacing-unit 0;
  width: 35%;
}
  .sweepstakes__headline {
    position: relative;
    top: 10px;
    left: 5px;
    font-family: $heading-font-family;
    font-size: 2em;
    letter-spacing: 1px;
  }
  .sweepstakes__heading {
    margin-bottom: $spacing-unit / 2;
    font-family: $base-font-family;
    font-size: 3em;
    color: $text-color-light;
  }
  .sweepstakes__form { margin-bottom: $spacing-unit / 2; }
    .sweepstakes__form-input {
      margin-bottom: $spacing-unit / 2;
      padding: $spacing-unit / 2;
      border: 3px solid transparent;;
      border-radius: $radius-size;
      font-size: inherit;
      font-weight: 200;
      &:focus {
        outline: none;
        border-color: $brand-color;
      }
    }
    .sweepstakes__form-name {
      display: flex;
      justify-content: space-between;
    }
    .first-name-field,
    .last-name-field { width: 49%; }
    .email-field { width: 100%; }
    .sweepstakes__form-button {
      padding: $spacing-unit / 2;
      width: 100%;
      background-color: $brand-color;
      border: 0;
      border-radius: $radius-size;
      font-size: 1.25em;
      font-weight: 500;
      color: $text-color-light;
      &:hover {
        cursor: pointer;
        outline: none;
      }
    }
  .sweepstakes__disclaimer {
    margin-bottom: $spacing-unit;
    font-size: 0.875em;
    font-style: italic;
    a { color: inherit; }
    a:hover { color: $brand-color; }
  }

@media screen and (max-width: 1700px) {
  .hero {
    background-size: 125%;
    background-attachment: fixed;
  }
}

@media screen and (max-width: 1440px) {
  .hero {
    background-position: left center;
    background-size: 160%;
  }
}

@media screen and (max-width: 1290px) {
  .sweepstakes { width: 45%; }
}

@media screen and (max-width: 1024px) {
  .hero {
    background-position: left top;
    background-size: 160%;
  }
  .sweepstakes {
    margin-left: $spacing-unit;
    padding: ($spacing-unit / 2) 0;
    width: 55%;
  }
}

@media screen and (max-width: 960px) {
  .hero { background-size: 160%; }
  .sweepstakes__headline {
    top: 5px;
    font-size: 1.25em;
  }
  .sweepstakes__heading {
    margin-bottom: $spacing-unit / 4;
    font-size: 2em;
  }
  .sweepstakes__form-input {
    margin-bottom: $spacing-unit / 4;
    padding: $spacing-unit / 4;
  }
  .sweepstakes__form-button {
      padding: $spacing-unit / 4;
      font-size: 1em;
  }
  .sweepstakes__disclaimer {
    margin-bottom: $spacing-unit / 2;
    font-size: 0.75em;
  }
}

@media screen and (max-width: 768px) {
  .sweepstakes { width: 60%; }
}

@media screen and (max-width: 640px) {
    .hero { background-image: none; }
    .sweepstakes {
      margin-right: $spacing-unit;
      width: 100%;
    }
    .sweepstakes__disclaimer {
      margin-bottom: 0;
      font-size: 0.75em;
    }
}

@media screen and (max-width: 425px) {
  .sweepstakes { margin: 0 $spacing-unit / 4; }
  .sweepstakes__form-name { flex-direction: column; }
  .first-name-field,
  .last-name-field { width: 100% }
}