.latest-finds {
  margin-bottom: $spacing-unit;
  color: $text-color-dark;
}
  .latest-finds__heading { margin-bottom: $spacing-unit / 2; }
  .latest-finds__content{
    display: flex;
    justify-content: space-between;
  }
    .latest-finds__grid {
      display: flex;
      flex-wrap: wrap;
      width: 80%;
    }
      .latest-finds__grid-item {
        margin-bottom: $spacing-unit / 2;
        display: flex;
        align-items: center;
        min-width: 50%;
        max-width: 50%;
      }
      .latest-finds__item-image { margin-right: $spacing-unit / 2; }
      .latest-finds__item-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 150px;

        a,
        a:visited,
        a:active {
          color: $text-color-dark;
          text-decoration: none;
          text-align: center;
        }
        a:hover {
          color: $brand-color;
          text-decoration: underline;
        }
      }
      .latest-finds__item-brand {
        text-transform: uppercase;
        font-weight: 500;
      }
      .latest-finds__item-price { font-weight: 500; }
      .latest-finds__button {
        padding: $spacing-unit / 4;
        width: 100%;
        background-color: $brand-color;
        border: 2px solid transparent;
        font-size: inherit;
        color: $text-color-light;
        &:hover {
          background-color: inherit;
          border-color: $brand-color;
          color: $brand-color;
          cursor: pointer;
        }
        &:active {
          background-color: $brand-color;
          color: $text-color-light;
        }
      }

    .sidebar__ad {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

@media screen and (max-width: 1024px) {
  .latest-finds__grid { width: 75%; }
}
@media screen and (max-width: 990px) {
  .latest-finds__grid { width: 100%; }
  .sidebar__ad { display: none; }
}

@media screen and (max-width: 768px) {
  .latest-finds__item-image { max-width: 63.95348%; }
  .latest-finds__item-details { width: auto; }
}

@media screen and (max-width: 670px) {
  .latest-finds__grid { flex-direction: column; }
  .latest-finds__grid-item { min-width: 100%; }
  .latest-finds__item-image { max-width: 100%; }
  .latest-finds__item-details {
      flex-direction: row;
      justify-content: space-between;
      width: 100%
  }
}
@media screen and (max-width: 425px) {
  .latest-finds__item-details { flex-direction: column; }
}

@media screen and (max-width: 375px) {
  .latest-finds__item-image { max-width: 65.6716%; }
}