@import url('https://fonts.googleapis.com/css?family=Montserrat:200,500|Mr+Dafoe');

$base-font-family:    "Montserrat", sans-serif;
$base-font-size:      18px;
$base-font-weight:    200;
$heading-font-family: "Mr Dafoe", cursive;
$heading-font-weight: 400;
$base-line-height:    1.2;
$base-letter-spacing: 0.5px;

$spacing-unit:        40px;
$radius-size:         5px;

$brand-color:         rgb(111, 203, 206);
$brand-color-light:   lighten($brand-color, 20%);
$brand-color-dark:    rgb(25, 42, 64);
$text-color-dark:     rgb(51, 51, 51);
$text-color-light:    rgb(255, 255, 255);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // background-color: $brand-color;
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color-light;
  letter-spacing: $base-letter-spacing;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  color: $text-color-dark;
}
h1 { font-size: 2.5em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; color: $text-color-light}
h4 { font-size: 1.17em; }
h5 { font-size: 1.12em; }
h6 { font-size: 0.87em; }

button:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  body {
    font-size: $base-font-size * 0.888889;
  }
}

// CONTAINERS
.container {
  margin: 0 auto;
  padding: 0 $spacing-unit;
  max-width: 1200px;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0 $spacing-unit / 2;
  }
}

@import 'partials/_footer';
@import 'partials/_widgets';
@import 'partials/_shop-by-brand';

.latest-finds {
  margin-bottom: $spacing-unit;
  color: $text-color-dark;
}
.latest-finds__heading {
  margin-bottom: $spacing-unit / 2;
}
.latest-finds__content{
  display: flex;
  justify-content: space-between;
}
  .latest-finds__grid {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
  }
    .latest-finds__grid-item {
      margin-bottom: $spacing-unit / 2;
      display: flex;
      align-items: center;
      min-width: 50%;
      max-width: 50%;
    }
    .latest-finds__item-image {
      margin-right: $spacing-unit / 2;
    }
    .latest-finds__item-details {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 150px;

      a,
      a:visited,
      a:active {
        color: $text-color-dark;
        text-decoration: none;
        text-align: center;
      }
      a:hover {
        color: $brand-color;
        text-decoration: underline;
      }
    }
    .latest-finds__item-brand {
      text-transform: uppercase;
      font-weight: 500;
    }
    .latest-finds__item-price {
      font-weight: 500;
    }
    .latest-finds__button {
      padding: $spacing-unit / 4;
      width: 100%;
      background-color: $brand-color;
      border: 0;
      font-size: inherit;
      color: $text-color-light;
      &:hover {
        cursor: pointer;
        outline: none;
      }
    }

  .sidebar__ad {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

@media screen and (max-width: 1024px) {
  .latest-finds__grid {
    width: 75%;
  }
}
@media screen and (max-width: 900px) {
  .latest-finds__grid {
    width: 100%;
  }
  .sidebar__ad {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .latest-finds__item-image {
    max-width: 63.95348%;
  }
  .latest-finds__item-details {
      width: auto;
  }
}

@media screen and (max-width: 670px) {
  .latest-finds__grid {
    flex-direction: column;
  }
  .latest-finds__grid-item {
    min-width: 100%;
  }
  .latest-finds__item-image {
    max-width: 100%;
  }
  .latest-finds__item-details {
      flex-direction: row;
      justify-content: space-between;
      width: 100%
  }
}
@media screen and (max-width: 425px) {
  .latest-finds__item-details {
      flex-direction: column;
  }
}

@media screen and (max-width: 375px) {
  .latest-finds__item-image {
    max-width: 65.6716%;
  }
}