@import url('https://fonts.googleapis.com/css?family=Montserrat:200,500|Mr+Dafoe');

$base-font-family:    "Montserrat", sans-serif;
$base-font-size:      18px;
$base-font-weight:    200;
$heading-font-family: "Mr Dafoe", cursive;
$heading-font-weight: 400;
$base-line-height:    1.2;
$base-letter-spacing: 0.5px;

$spacing-unit:        40px;
$radius-size:         5px;

$brand-color:         rgb(111, 203, 206);
$brand-color-light:   lighten($brand-color, 20%);
$brand-color-dark:    rgb(25, 42, 64);
$text-color-dark:     rgb(51, 51, 51);
$text-color-light:    rgb(255, 255, 255);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // background-color: $brand-color;
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color-light;
  letter-spacing: $base-letter-spacing;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  color: $text-color-dark;
}
h1 { font-size: 2.5em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; color: $text-color-light}
h4 { font-size: 1.17em; }
h5 { font-size: 1.12em; }
h6 { font-size: 0.87em; }

ul {
  list-style: none;
}

fieldset {
  width: 100%;
  border: none;
}

button:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  body {
    font-size: $base-font-size * 0.888889;
  }
}

// CONTAINERS
.container {
  margin: 0 auto;
  padding: 0 $spacing-unit;
  max-width: 1200px;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0 $spacing-unit / 2;
  }
}

@import 'partials/_footer';
@import 'partials/_widgets';
@import 'partials/_shop-by-brand';
@import 'partials/_latest-finds';
@import 'partials/_hero';
@import 'partials/_header';